// archivo que aloja los colores que se usarán en el proyecto

$color_primario: #b4f39b;
$color_secundario: #439ef3;
$color_terciario: #ff0000;
$color_negro: #000;
$color_blanco: #fff;

$color_opaco: rgba(0, 0, 0, 0.699);