// Archivo con las fuentes tipográficas
@import 'fuentes';
@import 'colores';

*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    color: $color_negro;
    background: $color_primario;
    font-family: $fuente_cuerpo;
}

// *** HEADER ***
#header-nav{
    background: $color_secundario;
    border-radius: 0;
    border: none;
}

#logo-img{
    background: url(../img/logo.png) no-repeat; // acá se inserta la imágen corporativa (logo)
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
    filter: drop-shadow(2px 3px 4px black);
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1{ //nombre del restaurante
    font-family: $fuente_titulo;
    color: $color_terciario;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px $color_negro;
    margin-top: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p{ //cocina de alta calidad slogan
    color: $color_negro;
    text-transform: uppercase;
    font-size: .9em;
    margin-top: 15px;
}

.navbar-brand p span{ //cubiertos del slogan
    vertical-align: middle;
}

#nav-list{
    margin-top: 10px;
}

#nav-list a, #phone div{
    color: $color_blanco;
    text-align: center;
}

#nav-list a:hover{
    background: $color_blanco;
    color: $color_negro;
    border-radius: 10px;
}

#nav-list a span{
    font-size: 1.8em;
}

#phone{
    margin-top: 5px;
}

#phone a{ //numero de teléfono
    text-align: right;
    padding-bottom: 0;
}

// #phone div{ // Domicilio
//     color: $color_negro;
//     text-align: right;
//     padding-right: 15px;
// }

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid $color_negro;
}

.navbar-header button.navbar-toggle{
    clear: both;
    position: relative;
    top: -45px;
    right: 0;
}
// Fin del encabezado

// Pie de página
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background: $color_terciario;
    color: $color_blanco;
    letter-spacing: 1.9px;
    border-top: 0;
}

.panel-footer div.row{
    margin-bottom: 35px;
}

#hours, #address{
    line-height: 2;
}

#hours > span, #address > span{
    font-size: 1.3em;
}

#address p{
    color: $color_negro;
    font-weight: bold;
    font-size: .8em
}

#testimonials{
    font-style: italic;
}

#testimonials p:nth-child(2){
    margin-top: 25px;
}

// Jumbotron (imagen principal)
.container .jumbotron{
    box-shadow: 1px 2px 8px;
}

#menu-tile, #specials-tile, #map-tile{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 1px solid $color_negro;
    overflow: hidden;
    &:hover{box-shadow: 0 2px 4px 2px $color_negro; opacity: .87}
}

#menu-tile{
    background: url(../img/huevos.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#specials-tile{
    background: url(../img/drink.jpg);
    background-size: cover;
    background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    background: $color_opaco;
    color: $color_blanco;
    text-transform: uppercase;
}

.category-tile{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    &:hover{
        box-shadow: 1px 0 8px $color_negro;
        opacity: .87;
    }
}

.category-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: $color_opaco;
    color: $color_blanco;
}

// ********* MEDIAQUERIS 

// ************ Dispositivos grandes
@media (min-width: 1200px) {
    .container .jumbotron{
        background: url(../img/restaurant.jpg) no-repeat;
        // background-size: contain no-repeat;
        height: 515px;
    }
}

// **************** Dispositivos medianos
@media (min-width: 992px) and (max-width: 1199px) {
    #logo-img{
        background: url(../img/logo.png) no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }

    // pagina de inicio
    .container .jumbotron{
        background: url(../img/restaurant.jpg) no-repeat;
        height: 490px;
    }
}

// ************ Dispositivos pequeños
@media (min-width: 768px) and (max-width: 991px) {
    .container .jumbotron{
        background: url(../img/restaurant.jpg) no-repeat;
        background-size: cover;
        height: 430px;
    }
}

// Dispositivos Extra pequeños
@media (max-width: 767px) {
    .navbar-brand{
        padding-top: 10px;
        height: 40px;
    }
    .navbar-brand h1{ // NOMBRE DEL RESTAURANTE
        padding-top: 10px;
        font-size: 5vw;
    }
    .navbar-brand p{ //COCINA DE ALTA CALIDAD
        font-size: .6em;
        margin-top: 12px;
    }
    .navbar-brand p img{ //ICONO DE " COCINA ALTA CALIDAD"
        height: 20px;
    }
    #collapsable-nav a{ // TEXTO DEL MENU DE NAVEGACIÓN COLLAPSABLE
        font-size: 1.2em;
    }
    #collapsable-nav a span{ //ICONO COLLAPSABLE DEL MENU
        font-size: 1em;
        margin-right: 5px;
    }
    #call-btn > a{
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid $color_negro;
        background: $color_secundario;
        color: $color_negro;
    }
    #xs-deliver{
        margin-top: 5px;
        font-size: .8em;
        letter-spacing: .4em;
        font-weight: bold;
        text-transform: uppercase;
    }
    // FIN DEL HEADER

    .panel-footer section {
        text-align: center;
        margin-bottom: 20px;
    }

    .panel-footer section hr{
        width: 80%;
        margin: auto;
    }

    .container .jumbotron{
        margin-top: 30px;
        padding: 0;
    }

    #menu-tile, #specials-tile{
        width: 85%;
        margin: 8px auto;
    }
}

// Dispositivos super extra pequeños (iphone 4)
@media (max-width: 479px) {
    //******* Pagina de inicio
    #menu-tile, #specials-tile{
        width: 280px;
        margin: 0 auto 15px;
    }

    .col-xxs-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}