// Archivo con las fuentes tipográficas
@import 'fuentes';
@import 'colores';

*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    color: $color_negro;
    background: $color_primario;
    font-family: $fuente_cuerpo;
}

// *** HEADER ***
#header-nav{
    background: $color_secundario;
    border-radius: 0;
    border: none;
}

#logo-img{
    background: url(../img/logo.png) no-repeat; // acá se inserta la imágen corporativa (logo)
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
    filter: drop-shadow(2px 3px 4px black);
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1{ //nombre del restaurante
    font-family: $fuente_titulo;
    color: $color_terciario;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px $color_negro;
    margin-top: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p{ //cocina de alta calidad slogan
    color: $color_negro;
    text-transform: uppercase;
    font-size: .9em;
    margin-top: 15px;
}

.navbar-brand p span{ //cubiertos del slogan
    vertical-align: middle;
}

#nav-list{
    margin-top: 10px;
}

#nav-list a, #phone div{
    color: $color_blanco;
    text-align: center;
}

#nav-list a:hover{
    background: $color_blanco;
    color: $color_negro;
    border-radius: 10px;
}

#nav-list a span{
    font-size: 1.8em;
}